
.App {
    background: url(C:\Users\AnnikaPalm\OneDrive - SoSafe GmbH\Sonstiges\Standardordner\Dokumente\Scripts\lucy\public\jordan-steranka-JPdapbV4C6Q-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #f2f2f2;
}